{% extends "layout.html" %}

{% block body %}
    <!-- <h1>Hello operator</h1> -->
    <h2>Заявки в работе</h2>
    <table class="table table-hover">
    <thead>
        <tr>
        <th>#</th>
        <th>Услуга</th>
        <th>Дата</th>
        <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr class="info">
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ order.id }}/">{{ order.scenario.name }}</td>
                <td>04/10/2019</td>
                <td>{{ order.current_state_object.verbose_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}