{% extends "layout.html" %}

{% block body %}
    <h2>Список услуг</h2>
    <ul>
        {% for service in services %}
        <li><a href="/user/{{ service.pk }}">{{ service.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>История оказания услуг</h2>
    <ul>
        {% for order in orders %}
        <li><a href="/user/order/{{ order.pk }}">{{ order.scenario.name }}</a></li>
        {% endfor %}
    </ul>    
{% endblock %}