{% extends "layout.html" %}

{% block body %}
    <h1>Заявка на услугу "{{ order.scenario.name }}"</h1>
    <div>
        <h2>Статус: {{ order.current_state_object.verbose_name }}</h2>
        {% if order.current_state_object.name == "UserFormState" %}
        <form action="submit/" method="POST">
            {% csrf_token %}
            {% for item in order.current_state_meta.form %}
            {% if item.type == 'text' %}
            <p>
                {{ item.name }}
                <input type="text" name="{{ item.id }}" id="{{ item.id }}" />
                {% if item.description %}
                <small>{{ item.description }}</small>
                {% endif %}
            </p>
            {% endif %}
            {% if item.type == 'file' %}
            <p>
                {{ item.name }}
                <input type="file" name="{{ item.id }}" id="{{ item.id }}" />
                {% if item.description %}
                <small>{{ item.description }}</small>
                {% endif %}
            </p>
            {% endif %}
            {% endfor %}
            <p>
                <input type="submit" value="Отправить" id="send-form" class="btn"/>
            </p>
        </form>
        {% endif %}
        {% if order.current_state_object.name == "ResultState" %}
        <h3>Результат выполнения заявки:</h3>
        <!-- <div>{{ order.current_data_object.result }}</div> -->
        {% for item in order.current_data_object.result.items %}
            <p>{{ item.1 }}</p> 
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}