<html>
    {% load static %}
    <head>
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <a href="/logout/" class="btn" style="right: 5px; top: 5px; position: absolute">Выход</a>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>