{% extends "layout.html" %}

{% block body %}
    <h1>Интерфейс аналитика</h1>
    <ul>
        {% for scenario in scenarios %}
        <li><a href="{{ scenario.id }}/">{{ scenario.name }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="create/">Создать сценарий</a></p>
{% endblock %}