{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>Создание нового сценария</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Название сценария: <input type="text" name="name" value="" /></p>
        <p><input type="submit" value="Создать" class="btn"/></p>
    </form>
{% endblock %}
