{% extends "layout.html" %}
{% load static %}

{% block head %}
    <style>
        body { background-color:#fafafa;}
        .container { 
            margin:20px auto;
        }
        .demo {
            height: 800px;
            margin-bottom: 10px;
        }
        .editable_block {
            display: none;
        }
        #example {
            overflow: scroll;
        }
        .panel-template {
            display: none;
        }
        .addField {
            margin-bottom: 5px;
        }
        input.modalInput {
            height: 30px;
            width: 350px;
        }
        .fieldButton {
            width: 250px;
            margin-bottom: 5px;
        }
    </style>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="{% static 'jquery.flowchart.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    
        <h1>{{ scenario.name }}</h1>
        <input type="hidden" id="raw_scenario" value="{{ scenario.scenario }}" />
        <p><a href="/analitic/">Назад к списку сценариев</a></p>
        <div class="row">
            <div class="span4" id="editable_blocks_container">
                <a href="#textModal" role="button" class="btn addField" data-toggle="modal">
                    <i class="icon-plus"></i> Текстовое поле
                </a>
                <a href="#fileModal" role="button" class="btn addField" data-toggle="modal">
                    <i class="icon-plus"></i> Файл
                </a>
                <hr>
                <div id="fieldsContainer"></div>
            </div>
            <div class="span10">
                <div class="row">
                    <div class="span7 text-center" style="margin-bottom: 10px;">
                        <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Добавить новый блок</a>
                        <button class="btn btn-danger" id="delete_selected_button">Удалить выбранный блок</button>
                        <a href="#" role="button" class="btn btn-success" data-toggle="modal" onclick="saveScenario();">Сохранить</a>
                    </div>
                    <!-- <button class="btn btn-primary" id="get_data">Console log data</button> -->          
                </div>
                <div class="demo" id="example"></div>
            </div>
        </div>


        <div id="myModal" class="modal hide fade span8">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Добавление нового блока</h3>
            </div>
            
            <div class="modal-body"> 
                
                <div class="row">
                    <div class="span3">
                    <label class="control-label" >Количество входов</label>
                    <select id="inputs_count">
                        <option value="0">0</option>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    </div>
                    <div class="span3">
                        <label class="control-label" >Количество входов</label>
                        <select id="outputs_count">
                        <option value="0">0</option>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                    <label class="control-label">Тип блока</label>
                    <select id="block_type">
                        <option value="UserFormState" selected>Форма клиента</option>
                        <option value="ConfirmationState">Подтверждение</option>
                        <option value="ProcessingState">Обработка</option>
                        <option value="GosAPIState">Зпрос в СМЭВ</option>
                        <option value="ExtAPIState">Зпрос по API</option>
                        <option value="CalculationState">Вычисление по формуле</option>
                        <option value="SignState">Условие</option>
                        <option value="ResultState">Результат</option>
                    </select>
                    </div>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
                <a href="#" class="btn btn-primary" id="create_operator" data-dismiss="modal">Добавить блок</a>
            </div>
        </div>

        <div id="textModal" class="modal hide fade span8">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Добавление текстового поля</h3>
            </div>
            
            <div class="modal-body"> 
                <label>Название поля</label>
                <input class="modalInput" type="text" id="textFieldName">
                <label>Описание поля</label>
                <input class="modalInput" type="text" id="textFieldDescription">
                <label>Идентификатор</label>
                <input class="modalInput" type="text" id="textFieldID">
            </div>
            
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
                <a href="#" class="btn btn-primary" id="add_text_field" data-dismiss="modal">Добавить поле</a>
            </div>
        </div>

        <div id="fileModal" class="modal hide fade span8">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Добавление файлового поля</h3>
            </div>
            
            <div class="modal-body"> 
                <label>Название поля</label>
                <input class="modalInput" type="text" id="fileFieldName">
                <label>Описание поля</label>
                <input class="modalInput" type="text" id="fileFieldDescription">
                <label>Идентификатор</label>
                <input class="modalInput" type="text" id="fileFieldID">
            </div>
            
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
                <a href="#" class="btn btn-primary" id="add_file_field" data-dismiss="modal">Добавить поле</a>
            </div>
        </div>
{% endblock %} 

{% block scripts %}
<script src="{% static 'jquery.flowchart.js' %}"></script>

<script type="text/javascript">
    var inputs_count = 1
    var outputs_count = 1
    var selected_block_type = 'request'

    var selectedOperator = null
    var selectedOperatorID = null
    
    var data = scenarioToData();
    var scenario_map = {};

    // var data = {
    //     operators: {
    //         operator1: {
    //             top: 20,
    //             left: 20,
    //             properties: {
    //                 title: 'Operator 1',
    //                 inputs: {},
    //                 outputs: {
    //                     output_1: {
    //                     label: 'Output 1',
    //                     }
    //                 }
    //             }
    //         },
    //         operator2: {
    //             top: 20,
    //             left: 300,
    //             properties: {
    //                 title: 'Operator 2',
    //                 inputs: {
    //                     input_1: {
    //                     label: 'Вход 1',
    //                     },
    //                     input_2: {
    //                     label: 'Вход 2',
    //                     },
    //                 },
    //                 outputs: {
    //                     output_1: {
    //                     label: 'Выход 1',
    //                     }
    //                 }
    //             }
    //         },
    //     },
    //     links: {
    //         link_1: {
    //             fromOperator: 'operator1',
    //             fromConnector: 'output_1',
    //             toOperator: 'operator2',
    //             toConnector: 'input_2',
    //         },
    //     }
    // };

    $(document).ready(function() {
    // Apply the plugin on a standard, empty div...
        $('#example').flowchart({
            multipleLinksOnInput: true,
            multipleLinksOnOutput: true,
            data: data
        });
    });

    var operatorI = Object.keys(data.operators).length + 1
    $('#create_operator').click(function() {
        var operatorId = 'operator' + operatorI;
        var operatorData = {
            top: 60,
            left: 500,
            properties: {
                scenario_properties: {
                    type: "State",
                    name: $( "#block_type option:selected" ).val(),
                    meta: {}
                },
                // title: 'Operator ' + (operatorI + 3),
                inputs: {
                    // input_1: {
                    //   label: 'Вход 1',
                    // }
                },
                outputs: {
                    // output_1: {
                    //   label: 'Выход 1',
                    // }
                }
            }
        };

        for (i=1; i < inputs_count + 1; i++){
            operatorData.properties.inputs['input_' + i] = {label: 'Вход_' + i}
        }
        for (i=1; i < outputs_count + 1; i++){
            operatorData.properties.outputs['output_' + i] = {label: 'Выход_' + i}
        }
        operatorData.properties.title = $( "#block_type option:selected" ).text();


        operatorI++;

        $('#example').flowchart('createOperator', operatorId, operatorData);
        // $('#example').flowchart('addOperator', operatorData);
    
    });

    $('#delete_selected_button').click(function() {
        $('#example').flowchart('deleteSelected');
    });

    $('#get_data').click(function(){
        // console.log($('#example').flowchart("getData"))
    })

    $('#inputs_count').change(function(){
        inputs_count = parseInt($(this).val())
    })

    $('#outputs_count').change(function(){
        outputs_count = parseInt($(this).val())
    })   

    // $('#block_type').change(function(){
    //   outputs_count = parseInt($(this).val())
    // })  
    
    $('#example').on('operatorSelect', function(el, operatorId) { 
        $("#fieldsContainer").empty();
        
        selectedOperator = $('#example').flowchart("getData").operators[operatorId]
        selectedOperatorID = operatorId

        new_h4 = $('<h4>', {text: selectedOperator.properties.title})
        new_h4.appendTo("#fieldsContainer")
        
        try {
            var form = selectedOperator.properties.scenario_properties.meta.form;
        } catch (ex){
            var form = null;
        }

        if (form){
            form.forEach(function(item, i, arr){
                switch(item.type) {
                    case 'text':
                        addTextField(item.name)
                        break;
                    case 'file':
                        addFileField(item.name)
                        break;
                    default:
                        break;
                }
            })
        }

    })

    $('#example').on('operatorUnselect', function(el, operatorId) { 
        $("#fieldsContainer").empty();
        selectedOperator = null;
        selectedOperatorID = null;
    })

    $('#example').on('operatorCreate', function(el, operatorId, operatorObject){
        var new_div = $('<div>', { class: 'editable_block', id: 'edit_' + operatorId, text: operatorObject.title});
        new_div.appendTo('#editable_blocks_container');

        // scenario_map[operatorId] = new_div;
    })

    $('#example').on('operatorDelete', function(el, operatorId){
        $("#edit_" + operatorId).remove()
    })

    $('#add_text_field').click(function(){
        addTextField($("#textFieldName").val())
        if (!data.operators[selectedOperatorID].properties.scenario_properties.meta.form) {
            data.operators[selectedOperatorID].properties.scenario_properties.meta.form = []
        }
        data.operators[selectedOperatorID].properties.scenario_properties.meta.form.push(
            {
                type: "text", 
                id: $("#textFieldID").val(), 
                description: $("#textFieldDescription").val(), 
                name: $("#textFieldName").val()
            }
        )
        $('#example').flowchart("setData", data)
    })

    $('#add_file_field').click(function(){
        addFileField($("#fileFieldName").val())
        data.operators[selectedOperatorID].properties.scenario_properties.meta.form.push(
            {
                type: "file", 
                id: $("#fileFieldID").val(), 
                description: $("#fileFieldDescription").val(), 
                name: $("#fileFieldName").val()
            }
        )
    })

    function addTextField(name){
        var new_button = $('<a>', { class: 'btn fieldButton', text: name + " ", 'data-toggle':"modal", href:"#textModal"});
        var new_i = $('<i>', { class: "icon-font",  text: " "});
        new_i.appendTo(new_button)
        new_button.appendTo($("#fieldsContainer"))
    }

    function addFileField(name){
        var new_button = $('<a>', { class: 'btn fieldButton', text: name + " ", 'data-toggle':"modal", href:"#fileModal"});
        var new_i = $('<i>', { class: "icon-file",  text: " "});
        new_i.appendTo(new_button)
        new_button.appendTo($("#fieldsContainer"))
    }
    
    $('.addField').click(function(){ 
        $('.modalInput').val('')
    })

    function scenarioToData(){
        var scenario = JSON.parse($("#raw_scenario").val())
        var _data = {operators:{}, links: {}}
        var left = 20
        var top = 20

        for(var operatorID in scenario.blocks) {
            if (left >= 600) {
                left = 20;
                top += 200;
            }
            if(scenario.blocks.hasOwnProperty(operatorID)){
                var value = scenario.blocks[operatorID];
                if(!value.meta){
                    value.meta = {}
                    if(!value.meta.form) {
                        value.meta.form = []
                    }
                }
                // console.log(operatorID)
                // console.log(value)
                switch(value.name) {
                    case 'UserFormState':
                        var human_readable_title = 'Форма клиента'
                        break;
                    case 'ConfirmationState':
                        var human_readable_title = 'Подтверждение'
                        break;
                    case 'ProcessingState':
                        var human_readable_title = 'Обработка оператором'
                        break;
                    case 'GosAPIState':
                        var human_readable_title = 'Запрос в СМЭВ'
                        break;
                    case 'ExtAPIState':
                        var human_readable_title = 'Запрос по API'
                        break;
                    case 'CalculationState':
                        var human_readable_title = 'Вычисление'
                        break;
                    case 'SignState':
                        var human_readable_title = 'Подпись'
                        break;
                    case 'ResultState':
                        var human_readable_title = 'Результат'
                        break;
                    default:
                        var human_readable_title = 'Условие'
                        break;
                }
                _data.operators[operatorID] =  {
                    top: top,
                    left: left,
                    properties: {
                        title: human_readable_title,
                        scenario_properties: value,
                        inputs: {
                            input_1: {
                                label: 'Вход',
                            }
                        },
                        outputs: {
                            output_1: {
                                label: 'Выход',
                            }
                        }
                    }
                }
                if (value.type == 'Condition') {
                    _data.operators[operatorID]['properties']['outputs']['output_1'] = { label: 'ДА' }
                    _data.operators[operatorID]['properties']['outputs']['output_2'] = { label: 'НЕТ' }
                }
            } 
            left += 200           
        }

        for (var linkFrom in scenario.links) {
            var linkTo = scenario.links[linkFrom];
            if (linkTo == null) continue;
            
            if (linkTo instanceof Object) {
                _data.links[linkFrom + '-' + linkTo['1']] = {
                    fromOperator: linkFrom,
                    toOperator: linkTo[1],
                    fromConnector: 'output_1',
                    toConnector: 'input_1'
                }
                _data.links[linkFrom + '-' + linkTo['2']] = {
                    fromOperator: linkFrom,
                    toOperator: linkTo[0],
                    fromConnector: 'output_2',
                    toConnector: 'input_1'
                }
            }
            else {
                _data.links[linkFrom + '-' + linkTo] = {
                    fromOperator: linkFrom,
                    toOperator: linkTo,
                    fromConnector: 'output_1',
                    toConnector: 'input_1'
                }
            }
        }
        return _data
    }

    function dataToScenario(){
        var _data = $('#example').flowchart("getData")
        var scenario = {'blocks': {}}
        for(var operatorID in _data.operators) {
            if (!scenario.first) {
                scenario.first = operatorID
            }
            var operator = _data.operators[operatorID]
            if (operator.properties.scenario_properties) {
                scenario['blocks'][operatorID] = operator.properties.scenario_properties
            }
        }
        var scenario_links = {}
        for(var linkID in _data.links) {
            var link = _data.links[linkID]
            if (scenario_links[link.fromOperator]) {
                if (link.fromConnector == 'output_1') {
                    var old_link = scenario_links[link.fromOperator]
                    scenario_links[link.fromOperator] = { 1: link.toOperator, 0: old_link }
                }
                if (link.fromConnector == 'output_2') {
                    var old_link = scenario_links[link.fromOperator]
                    scenario_links[link.fromOperator] = { 1: old_link, 0: link.toOperator }
                }
            }
            else {
                scenario_links[link.fromOperator] = link.toOperator
            }
        }
        scenario.links = scenario_links
        return scenario
    }

    function saveScenario(){
        var url = "update/"
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(dataToScenario()),
        });
    }
</script>

{% endblock %}
